<div class="main user-show">
  <div class="container">

    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <% if @current_user && @user.id == @current_user.id %>
        <div class="user-edit">
          <%= link_to "/edit" do %>
            <span class = "fa fa-edit"></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- <div class="modal fade" id="modal1" tabindex="-1"
          role="dialog" aria-labelledby="label1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label1">こちらの質問を削除しますか？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Modal body
            <%# <%= post.content %> %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary">削除する</button>
          </div>
        </div>
      </div>
    </div> -->
    <button type="button" data-sample="button1"data-toggle="modal" data-target="#myModal">削除</button>
    <button type="button" data-sample="button2"data-toggle="modal" data-target="#myModal">削除</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
          <p>確認メッセージ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <button type="submit" class="btn btn-danger">{{ __('削除') }}</button>
        </div>
      </div>
    </div>
    </div>
    <!--ログインユーザーと同じ場合、質問画面を表示-->
    <% if @current_user && @user.id == @current_user.id %>
      <div class="user-post">
        <%= form_tag("/posts/create") do %>
          <div class="form">
            <div class="form-body">
              <% @post.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
              <% end %>
              <textarea name="content" id="text2"><%= @post.content %></textarea>
              <span class="count">0</span>/1000
              <input type="submit"  value="質問する">
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <ul class="user-tabs">
      <li class="active"><%= link_to("受付中の質問", "/#{@user.id}") %></li>
      <li><%= link_to("締め切った質問", "/#{@user.id}/close") %></li>
    </ul>

    <div class="post-answers">
      <% if @posts.length == 0 %>
        <div class="posts-index-item">
          <p>まだ質問がありません</p>
        </div>
      <% else %>
        <% @posts.each do |post| %>
          <div class="posts-index-item">
            <div class="post-left">
              <%= link_to image_tag("/user_images/#{@user.image_name}"), "/#{post.user.id}" %>
            </div>
            <div class="post-right">
              <div class="post-user-name">
                <%= link_to(post.user.name, "/#{post.user.id}") %>
              </div>
                <%= link_to(simple_format(post.content), "/posts/#{post.id}") %>
              <% if @current_user && @user.id != @current_user.id %>
                <div class="post-reply">
                  <%= link_to "/posts/#{post.id}" do %>
                    <span class = "fa fa-reply"></span>
                    回答する
                  <% end %>
                </div>
              <% elsif @current_user && @user.id == @current_user.id %>
                <div class="post-answer-menus">
                  <%= link_to "/posts/#{post.id}/close", method: "post" do %>
                    <span class = "fa fa-cut"></span>
                    締め切る
                  <% end %>
                  <%# <%= link_to "/posts/#{post.id}/destory", method: "post" do %> %>
                    <span class = "fa fa-trash"></span>
                    <a href="#" data-toggle="modal" data-target="#modal1">削除する</a>
                  <%# <% end %> %>
                  <%= link_to "/posts/#{post.id}" do %>
                    <span class = "fa fa-check"></span>
                    回答を見る
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
